# Dependencias
node_modules/
vendor/

# Binarios y compilados
bin/
*.exe
gateway

# Archivos temporales y de sistema
*.log
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.swp

# Archivos de documentacion
OMNICELL.md
Proyectos_Tech.docx
CORECCIONES_CURSOR.md
OMNICELL.txt

